$darker-violet: rgba(18, 0, 28);
$dark-violet: rgb(26, 0, 45);
$violet: rgb(100, 0, 172);
$black: rgb(0, 0, 0);
$black-0_65: rgba(0, 0, 0, 0.65);
$black-0_5: rgba(0, 0, 0, 0.5);
$black-0_35: rgba(0, 0, 0, 0.35);
$transparent: rgba(0, 0, 0, 0);
$light-gray: rgb(169, 169, 169);
$white: rgb(255, 255, 255);
$white-0_35: rgba(255, 255, 255, 0.35);
$dark_blue: #274472;
$midnight_blue: #41729f;
$blue_gray: #5885af;
$baby_blue: #add8e6;
$gold: #f8d210;
