@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.Main {
  opacity: 0;
  @include element-position($position: fixed, $top: 0, $left: 0, $z-index: 4);
  transition: all 0.35s;

  &.active {
    opacity: 1;
    @include flex-container($justify: center, $align: center);
    @include box-model($width: 100vw, $height: 100vh);
    background-color: $black-0_5;

    .content {
      @include element-position($position: relative);
      @include box-model($width: 70%, $height: 70%);

      .modal {
        @include flex-container($direction: row, $justify: center);
        @include box-model($width: 100%, $height: 100%);
        @include border($radius: 15px);
        background-color: $dark_blue;

        .left {
          @include flex-container($direction: column, $gap: 10px);
          @include box-model($padding: 2.5%, $width: 25%, $height: 100%);
          .title {
            font-size: 2vmax;
            text-shadow: 0 0 10px $black;
          }

          .img {
            max-width: 268.81px;
          }

          .rating {
            @include flex-container($align: center);
            font-size: 2vmax;
            text-shadow: 0 0 10px $black;

            svg {
              color: $gold;
            }
          }
        }

        .right {
          @include flex-container(
            $direction: column,
            $justify: space-between,
            $gap: 10px
          );
          @include box-model($padding: 2.5%, $width: 75%, $height: 100%);

          .overview {
            max-height: 50%;
            font-size: 2vmax;
            text-shadow: 0 0 10px $black;
            overflow: scroll;

            &::-webkit-scrollbar {
              overflow: hidden;
              display: inline;
              width: 20px;
            }

            &::-webkit-scrollbar-thumb {
              background-clip: padding-box;
              background-color: $baby_blue;
              @include border($border: 5px solid $transparent, $radius: 10px);
            }

            &::-webkit-scrollbar-corner {
              background: $transparent;
            }
          }

          .release {
            font-size: 2vmax;
          }

          .iframe {
            @include box-model($width: 80%, $height: 45%);
          }
        }
      }

      .close {
        opacity: 0.5;
        @include element-position(
          $position: absolute,
          $top: -20px,
          $right: -20px,
          $z-index: 5
        );

        &:hover {
          opacity: 1;
          text-shadow: 0 0 10px $black;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Main {
    &.active {
      .content {
        .modal {
          @include flex-container($direction: column, $align: center);
          overflow-y: scroll;
          overflow-x: hidden;

          &::-webkit-scrollbar {
            overflow: hidden;
            display: inline;
            width: 15px;
          }

          &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            background-color: $baby_blue;
            @include border($border: 5px solid $transparent, $radius: 10px);
          }

          &::-webkit-scrollbar-corner {
            background: $transparent;
          }

          .left {
            @include flex-container(
              $direction: column,
              $align: center,
              $gap: 10px
            );
            @include box-model($padding: 5%, $width: 100%);
            .title {
              font-size: 2.5vmax;
            }

            .img {
              @include box-model($width: 100%);
            }

            .rating {
              @include flex-container($align: center);
              font-size: 2vmax;
              text-shadow: 0 0 10px $black;

              svg {
                color: $gold;
              }
            }
          }

          .right {
            @include flex-container(
              $direction: column,
              $align: center,
              $gap: 15px
            );
            @include box-model($padding: 5%, $width: 100%);

            .overview {
              text-shadow: 0 0 10px $black;
              font-size: 2.5vmax;
              overflow: visible;
            }

            .release {
              font-size: 2.5vmax;
            }

            .iframe {
              align-self: center;
            }
          }
        }

        .close {
          opacity: 0.5;
          @include element-position(
            $position: absolute,
            $top: -20px,
            $right: -20px,
            $z-index: 99
          );

          &:hover {
            opacity: 1;
            text-shadow: 0 0 10px $black;
          }
        }
      }
    }
  }
}
